.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 72px;
  margin-top: 0;
  padding-top: 1rem;
  color: #ff9ff3;
  text-shadow: 0 4px 2px rgba(0,0,0,0.06);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222f3e;
  font-style: italic;
}

.footer a {
  color: #e84393;
}

.footer a:hover {
  color: #e9589e;
}